<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @yellow_page.business_name %>
</p>

<p>
  <strong>Business category:</strong>
  <%= @yellow_page.business_category %>
</p>

<p>
  <strong>Business logo:</strong>
  <%= @yellow_page.business_logo %>
</p>

<p>
  <strong>Business tagline:</strong>
  <%= @yellow_page.business_tagline %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @yellow_page.business_phone %>
</p>

<p>
  <strong>Business email:</strong>
  <%= @yellow_page.business_email %>
</p>

<p>
  <strong>Business website:</strong>
  <%= @yellow_page.business_website %>
</p>

<p>
  <strong>Business home city:</strong>
  <%= @yellow_page.business_home_city %>
</p>

<p>
  <strong>Business state:</strong>
  <%= @yellow_page.business_state %>
</p>

<p>
  <strong>Business postal code:</strong>
  <%= @yellow_page.business_postal_code %>
</p>

<p>
  <strong>Business about:</strong>
  <%= @yellow_page.business_about %>
</p>

<p>
  <strong>Business services:</strong>
  <%= @yellow_page.business_services %>
</p>

<p>
  <strong>Business association:</strong>
  <%= @yellow_page.business_association %>
</p>

<p>
  <strong>Business opporating hours:</strong>
  <%= @yellow_page.business_opporating_hours %>
</p>

<p>
  <strong>Business products:</strong>
  <%= @yellow_page.business_products %>
</p>

<p>
  <strong>Business brands:</strong>
  <%= @yellow_page.business_brands %>
</p>

<p>
  <strong>Business features:</strong>
  <%= @yellow_page.business_features %>
</p>

<p>
  <strong>Business keywords:</strong>
  <%= @yellow_page.business_keywords %>
</p>

<p>
  <strong>Business review:</strong>
  <%= @yellow_page.business_review %>
</p>

<p>
  <strong>Business review name:</strong>
  <%= @yellow_page.business_review_name %>
</p>

<p>
  <strong>Business review star:</strong>
  <%= @yellow_page.business_review_star %>
</p>

<p>
  <strong>Business faqs:</strong>
  <%= @yellow_page.business_faqs %>
</p>

<%= link_to 'Edit', edit_yellow_page_path(@yellow_page) %> |
<%= link_to 'Back', yellow_pages_path %>
